.container {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #000;
  height: 100vh;
}

.title {
	font-family: sans-serif;
	font-size: 5rem;
  color: #fff;
}

.title strong {
  /*text-shadow: -3px -3px 1px magenta, 3px 3px 1px cyan;*/
  color: magenta
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 390px) {
  .title {
    font-size: 2rem;
  }
}
