html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #474747 0%, #000000 100%)
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #474747 0%, #000000 100%);
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #474747 0%, #000000 100%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #474747), color-stop(100, #000000));
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #474747 0%, #000000 100%);
  background-image: radial-gradient(ellipse farthest-corner at center, #474747 0%, #000000 100%);
}

.title {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 5rem;
  color: #fff;
  margin-bottom: 20px;
}

.title strong {
  color: #d60070
}

.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.5rem;
  color: rgba(211, 211, 211, 0.7);
  font-weight: 300;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 425px) {
  .title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}
